.company-img{
    width: 100px;
    height: 100px;
}
.jobType{
    border: 1px solid #7E90FE;
    border-radius: 4px;
    color: #7E90FE;
}
.view-details-btn{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: white;
}
.job-des{
    border: 1px solid rgba(62, 60, 60, 0.21);
}